# React/TypeScript (Frontend)
# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# production
/client/build
/client/dist

# misc
.DS_Store
/client/.env
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# TypeScript
*.tsbuildinfo

# Golang (Backend)
# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/server/bin

# Test binary, built with 'go test -c'
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Environment variables
/server/.env
.env 

# Dependencies
/server/vendor/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo